[submodule "bebop_ws/src/bebop_autonomy"]
	path = bebop_ws/src/bebop_autonomy
	url = ../../hoangtungdinh/bebop_autonomy.git
[submodule "rats_ws/src/rats/ARLocROS"]
	path = rats_ws/src/rats/ARLocROS
	url = ../../hoangtungdinh/ARLocROS.git
[submodule "rats_ws/src/rats/BeSwarm"]
	path = rats_ws/src/rats/BeSwarm
	url = ../BeSwarm.git
[submodule "config/SwarmBootstrapUtils"]
	path = config/SwarmBootstrapUtils
	url = ../SwarmBootstrapUtils.git
[submodule "rats_ws/src/constraint_msgs"]
	path = rats_ws/src/constraint_msgs
	url = ../../hoangtungdinh/constraint_msgs.git
