[submodule "bebop_autonomy"]
	path = bebop_autonomy
	url = https://github.com/hoangtungdinh/bebop_autonomy.git
	branch = rats
[submodule "rats/BeSwarm"]
	path = rats/BeSwarm
	url = https://github.com/hoangtungdinh/BeSwarm.git
	branch = rats
[submodule "rats/ARLocROS"]
	path = rats/ARLocROS
	url = https://github.com/hoangtungdinh/ARLocROS.git
	branch = rats
